.clearfix::after{
	content: "";
	display: table;
	clear: both;	
}
a{
	text-decoration: none;
}
ul{
   list-style: none;
   padding: 0px;
}
.container{
	max-width: 1200px;
	margin: auto;
}
header{
	position: fixed;
	padding: 20px 0px;
	width: 100%;
	background-color: rgba(100,200,100,0.1);		
}
.logo img{
	width: 60px;
	height: 60px;
}
header .logo{	
	float: left;
}
header .logo span{
	font-size:3.5em;
	font-family: 'Dancing Script', cursive;
}
header .logo img,
header .logo span{
	vertical-align: middle;
}
header a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header .topmenu{	
	float: right;
	margin-top: 5px;	
}
header .topmenu ul li{
	float: left;
	margin: 0px 30px;
}
header a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header a:hover{
	color: deepskyblue;
}
.banner{
	min-height: 600px;
	background: url(../img/1.jpg) no-repeat center top;
	background-size:100% ;
	color: #fff;
	line-height: 1.5;
}
.banner .container{
	width: 800px;
	height: 180px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.banner .container h1{
	text-align: center;
}
.banner .container p{
	text-align: center;
}
section h2{
	text-align: center;
	margin-top: 50px;
}
section h2+p{
	text-align: center;
	margin-bottom: 80px;
}
.about{
	
}
.about .img{
	float: left;
	width: 48%;
}
.about .img img{
	width: 100%;
}
.about .note{
	float: right;
	width: 48%;
}
.about .note p{
	line-height: 2;
	margin: 20px 0px;
}
.about .note p:first-child{
	margin-top: 0px;
}
.about .note ol{
	list-style: none;
	line-height: 2;
	padding: 0;
	counter-reset: liCounter;
}
.about .note li{
	counter-increment: liCounter;
}
.about .note li::before{
	content: counter(liCounter);
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	border: 1px dashed #000;
	margin-right: 10px;
	transition: transform .5s;
}
.about .note li:hover::before{
	transform: translate(10px) rotate(360deg);
}
.service{
	background: url(../img/desktop.jpg) center center;
	background-size: 100%;
}
.service h2{
	text-align: center;
}
.service li{
	float: left;
	width: 48%;
	margin-right: 4%;
	text-align: right;
	cursor: pointer;
}
.service li::after{
	content: "";
	display: table;
	clear: both;
}
.service li i{
	float: right;
	padding: 27px 0px 10px 2px ;
	transition: transform .5s,color .5s;
}
.service li:nth-child(2n) i{
	float: left
}
.service li:nth-child(2n){
	margin-right: 0px;
	text-align: left;
}
.service li h3{
	display: inline-block;
}
.service li:hover i{
	transform: scale(1.2);
	color: #339BEB;
}
